@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
}
/************************ Header Styles ************************/
.navbar-default {
    height: 100px;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    background: #4B4B5D;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
    outline: none;
    border-bottom: 3px solid #1b2b34;
    color: #fff;
}

.navbar > .container-fluid .navbar-brand {
    color: #fff;
}

.navbar-brand > h3,
.navbar-brand > h5 {
    padding: 0;
    margin: 10px 0;
}

.navbar-right {
    margin: 30px 0;
}

.navbar-right > button {
    padding: 5px 30px;
}
/************************ Listpage Styles ************************/
.main-wrapper {
    padding-bottom: 20px;
    overflow-x: hidden;
}

.label-containter {
    width: 100%;
    min-height: 600px;
    background: #F8F9F9;
    padding: 10px;
    margin-top: 20px;
}


.section-header {
    margin: 10px 0;
    height: 80px;
}

.section-header .label {
    font-size: 24px;
    font-weight: normal;
    float: left;
    color: #333;
}

.section-header .label .disabled {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 14px;
    display: inline;
    pointer-events: none;
}

.section-header .label .enabled {
    background: #2874A6;
    color: #fff;
    margin: 0 5px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 3px 16px;
    display: inline;
    position: relative;
}

.section-header .label .enabled > .fa {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.section-header .text {
    float: right;
}

.section-header .text > .status {
    margin: 0 15px;
    color: #85929E;
}

.section-header .text > .btn-active {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 1px #ccc;
}

.section-header .text > .btn-disabled {
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}

.label-containter > ul {
    margin-top: 30px;
    padding: 0 10px;
}

.label-containter > ul > li {
    list-style: none;
    padding: 10px;
    height: 100px;
}

.label-containter > ul > li .disabled {
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 5px;
    padding: 8px 15px;
    display: inline;
}

.label-containter > ul > li .unchecked {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 15px;
    display: inline;
}

.label-containter > ul > li .checked {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 8px;
    display: inline;
    background: #2874A6;
}

.label-containter > ul > li .checked > .fa {
    color: #fff;
}

.label-containter > ul > li > .text {
    padding: 0 10px;
}

.label-containter > ul > li  .remove-btn {
    display: inline;
    color: red;
    font-size: 16px;
    float: right;
}

.label-containter > ul > li .form-group {
    width: 80%;
    margin: -55px 60px;
}

.label-containter > ul > li .form-group .form-control {
    height: 42px;
    border-radius: unset;
}

.label-containter .add-btn {
    color: #2874A6;
    margin: 0 70px;
    height: 90px;
}

.label-containter .add-btn > hr {
    border-top: 1px solid #ccc;
}

.label-containter .add-btn > span {
    float: right;
    font-size: 16px;
    padding: 10px 0;
}

.label-containter .add-btn > span > .fa {
    margin: 0 10px;
}


/***************************************************************************************************
*                                            MEDIA QUERIES                                         *
***************************************************************************************************/
@media screen and (max-width: 600px) {

    /************************ Header Styles ************************/
    .navbar-default .navbar-toggle {
        display: none !important;
    }

    .navbar-default {
        height: 150px;
    }

    .navbar-right {
        margin: 45px 0;
    }

    /************************ Listpage Styles ************************/
    .container {
        padding: 0;
    }

    .section-header {
        height: 25px;
    }

    .section-header .label .disabled {
        visibility: hidden;
    }

    .section-header .label .enabled {
        visibility: hidden;
    }

    .section-header .text {
        visibility: hidden;
    }

    .label-containter > ul > li .form-group {
        margin: 0px;
    }

    .label-containter > ul > li .disabled {
        display: none;
    }

    .label-containter > ul > li .unchecked {
        display: none;
    }

    .label-containter > ul > li .checked {
        display: none;
    }

    .label-containter > ul > li .form-group {
        width: 100%;
    }

    .label-containter > ul > li .remove-btn {
        margin: 10px;
    }

    .label-containter .add-btn {
        margin: 10px;
    }

    .label-containter .add-btn > span {
        padding: 10px;
    }
}